.app{
    height: 100vh;
}

.app .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    background-color: blue;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.intro, .portfolio, .testimonials, .contact, .works{
    scroll-snap-align: start;
}
